@namespace BlazorComponents
<div class="loading-spinner" style="width: @(Width)rem; height: @(Height)rem;">
	<spinner style="width: @(Width)rem; height: @(Height)rem; border-top-color: @Colour" />
</div>

@code
{
	[Parameter] public double Width { get; set; } = 4;
	[Parameter] public double Height { get; set; } = 4;
	[Parameter] public string Colour { get; set; } = "var(--red)";
}