@namespace BlazorComponents
@inherits ExpansionPanelBase

<div class="expansion-panel @(_expansionState ? "expansion-panel-expanded" : "expansion-panel-collapsed") @ClassOverride">
    <div class="expansion-panel-heading" @onclick="ExpansionHeadingClicked">
        <div>@Heading</div>
        <Icon IconName="@GetExpansionIcon()"></Icon>
    </div>
    <div class="expansion-content @(_expansionState ? "expansion-content-expanded" : "expansion-content-collapsed")">
        @if (ShowLine)
        {
        <hr /> 
        }
        @ChildContent
    </div>
</div>