@namespace BlazorComponents
@inherits BaseDialog

@if (ShowDialog)
{
	<div class="dialog-container">
		<div class="dialog-background"></div>
		<div class="dialog @AdditionalClass" id="@DialogId">
			@if (IsDraggable && string.IsNullOrWhiteSpace(DialogTitle))
			{
				<div class="drag-handle drag-cursor">
					<Icon IconColour="Colour.Black" IconId="@DialogHandleId">open_with</Icon>
				</div>
			}
			<div class="dialog-inner">
				@if (!string.IsNullOrWhiteSpace(DialogTitle) && IsDraggable)
				{
					<div class="dialogTitle flex-row justify-content-between">
						<span>@DialogTitle</span>
						<div class="float-right">
							<Icon IconColour="Colour.White" IconId="@DialogHandleId">open_with</Icon>
						</div>
					</div>
				}
				else if (!string.IsNullOrWhiteSpace(DialogTitle))
				{
					<div class="dialogTitle">
						@DialogTitle
					</div>
				}
				@ChildContent
			</div>
		</div>
	</div>
}