@namespace BlazorComponents
@inherits NavigationItemBase

@if (Show)
{
	<li>
		<label class="nav-item" @onclick="@Navigate">
			<Icon IconTitle="@IconTitle" IconColour="@Colour.White">@Icon</Icon>
			<span>@LinkText</span>
		</label>

		<ul>
			@ChildContent
		</ul>
	</li>
}