@namespace BlazorComponents

@if (Parent.ActiveStep == this)
{
    <div id="step-@(Parent.StepsIndex(this) + 1)">
        @StepContent
    </div>
    <div class="d-flex justify-content-end">
        @if (Parent.ActiveStepIx > 0)
        {
            <button class="btn btn-blue mr-auto" style="margin-right: auto" @attributes="@AdditionalAttributes" type="button" disabled="@(Parent.ActiveStepIx == 0)" @onclick="Parent.GoBack">
                @BackwardsButtonContent
            </button>
        }
        @if (!Parent.IsLastStep || !Parent.HideFinalStep)
        {
            <button class="btn btn-blue" @attributes="@AdditionalAttributes" type="@(Parent.IsLastStep ? "submit" : "button")" @onclick="Parent.IsLastStep ? OnFinalAction : Parent.GoNext" disabled="@DisableForwardButton">
	            @ForwardsButtonContent
            </button>
        }
    </div>
}